parameters:
    level: 9
    paths:
        - src/
        - tests/
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true
    exceptions:
        implicitThrows: true
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - 'LogicException'
            - 'ReflectionException'
            - 'PHPUnit\Framework\ExpectationFailedException'
            - 'PHPUnit\Framework\Exception'
            - 'Psr\Cache\InvalidArgumentException'
            - 'Doctrine\ORM\Exception\ORMException'
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon